
.navbar .navbar-brand{
    color: burlywood;
    font-size: 1rem;
    padding-top: .45rem;
    padding-left: 35rem;
}
.jumbotron {
    background-image: url('../img/usa-4.jpg');
    background-size: cover;
    background-clip: border-box;
    backface-visibility: hidden;
}
.btn,
.active {
    transition: .4s;
}